[Desktop Entry]
Type=Action
Profiles=profile_id
Name=Open as root here
Icon=dialog-password
# Example: Icon=text-editor
 
[X-Action-Profile profile_id]
MimeTypes=inode/directory
Exec=xsudo pcmanfm %f
# Example: Exec=gedit %f
